<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>test mail avec ejs </title>
    <style>
    </style>
</head>
<body>
    
        <div class="row">
            <img src="https://i.ibb.co/2sYtbM5/t-l-chargement.png" width="50" height="50" style="display: block;" />                       <h1 class="text-center text-primary"> <%= text %> </h1>
                <p class="text-justify">test de paragraphe</p>

            </div>
</body>
</html>